
.bottom-inner-container{
    text-align: center;
    color: white;
}
.bottom-container{
    background-color: #1496d1;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}