.service-inner-page-container {
  min-height: 100vh;
  padding: 30px 0 60px;
}

.service-inner-page-inner-container {}

.service-inner-page-image-container {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 992px) {
  .service-inner-page-image-container {
    justify-content: center !important;
  }
  .service-inner-page-image-container img{
    width: 100%!important;
  }
}

.service-inner-page-image-container img {
  width: 80%;
  height: 390px;
  object-fit: cover;
}

.service-inner-page-text {
  font-family: nova-light;
  margin-top: 10px;
}

.service-inner-page-heading {
  font-size: 22px;
  text-transform: capitalize;
  font-family: nova-bold;
}

.service-price {
  font-size: 18px;
  margin-bottom: 25px;
  font-family: nova-light;
}

.keypoints-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.key-points-title {
  font-size: 16px;
  font-family: nova-light;
  margin-bottom: 5px;

}

.key-points-list {}


.service-inner-page-about-heading {
  font-size: 18px;
}


.service-we-accept-container {
  margin-top: 20px;
}

.service-we-accept {
  display: flex;
}

.service-we-accept-heading {
  font-size: 18px;
  font-family: nova-light;
}

.service-we-accept div {
  height: 35px;
  overflow: hidden;
  position: relative;
}

.service-we-accept div:not(:last-child) {
  margin-right: 2px;
}

.service-esewa {}

.service-esewa img {
  width: 25px;
}

.service-khalti {}

.service-khalti img {
  width: 35px;
}

.service-ime-pay {
  width: 73px;
}

.service-ime-pay img {
  width: 90px;
  position: absolute;
  top: -18px;
  left: -13px;
}

.service-inner-header {
  /* display: none; */
  font-size: 22px;
  font-family: nova-bold;
  text-transform: capitalize;
}

@media (max-width: 992px) {
  
}